*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* this is about session */
.head{
    background-image: url(./images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100vh;
    text-align: right;
}
.banner{

    padding: 220px 220px 350px 670px;
    color: #FFFFFF;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;

}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}
.button{
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    color: #005FAC;
}
/* this is about session */
.about{
    display: flex;
    
    align-items: center;
    padding: 130px 320px 0px 200px;
    

}

.about-title{
    font-weight: 700;
    font-size: 40px;
}
.about-description{

    font-weight: 400;
    font-size: 16px;
}
li::marker {
    content: '✓';
    color: green;
    
  }
  /* this is article session */
.plan{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    
}
  .skills-container{
    display: flex;
    gap: 85px;
    align-items: center;
    padding: 0 250px;
    margin-bottom: 70px;
  }
  .skill-title{
    font-weight: 700;
    font-size: 20px;

  }
  .skill_description{

    font-weight: 500;
    font-size: 15px;
    color: #737272;
  }
/* this is call session */
  section{
    background-image: url(./images/watch.png),linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);;

    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    width: 1000px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
.section-title{
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;

}
.section-position{
    padding: 20px 0px 30px 40px ;
}

/* this is footer session */

.footer{
    display: flex;
    background-color:  #151414;;
    padding: 150px 300px;
    color: #FFFFFF;
    gap: 250px;
}
.footer-title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
}
.footer-des{
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 16px;
}
.footer-sub{
    font-weight: 700;
    font-size: 25px;

}
.input{
    width: 325px;
    height: 30px;
    margin-top: 32px;
    margin-bottom: 16px;

}
.sub-button{
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #005FAC;;
}
